* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0%;
}
header {
  background-color: whitesmoke;
  text-align: center;
  padding: 2px;
  font-size: 12px;
  font-family: lobster;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-links {
  display: flex;
  gap: 50px;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  text-decoration: none;
  color: black;
}
.nav-links li:hover {
  color: blue;
  text-decoration: underline;
}
.hero-content {
  position: relative;
}
.hero-section-parent {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  text-align: center;
}
.btn {
  padding: 20px;
  border-radius: 10px;
}
.btn:hover {
  background-color: pink;
  box-shadow: 2px 2px 4px #444;
}
.btn:active {
  background-color: palevioletred;
  box-shadow: 1px 1px 2px #444;
}
.heading-1 {
  text-align: center;
  color: rgb(96, 16, 42);
  font-size: 45px;
}
.product-cards {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}
.product-cards p {
  color: rgb(48, 17, 27);
}
.add-to-cart {
  background-color: rgb(217, 77, 101);
  color: white;
  padding: 10px 50px;
  border-radius: 5px;
}
.section {
  margin-top: 20px;
}
.section-heading {
  font-size: 50px;
}
.section-3 {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  background-color: rgb(195, 85, 104);
  padding: 50px;
  align-items: center;
}
.section p {
  font-size: 25px;
}
.shop-now {
  background-color: rgb(237, 137, 154);
  color: white;
  padding: 10px 50px;
  border-radius: 20px;
}
.section-4 {
  background-color: rgb(237, 129, 149);
  display: flex;
  justify-content: space-around;
  padding: 20px;
  align-items: center;
}
.section-col-1 p {
  width: 500px;
}

.section-col-2 p {
  width: 500px;
  text-align: justify;
  text-align-last: center;
}
.section-col-2 h2 {
  text-align: center;
}
.section-4 h2 {
  color: rgb(43, 2, 15);
}
.footer-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}
.footer-links li {
  list-style: none;
  margin: 10px;
}
.footer-links a {
  text-decoration: none;
  color: black;
}
.footer-links li:hover {
  transform: translate(5px);
}
